@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* --- Reset CSS --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* --- Reset end --- */

:root {
    --body-color: #f5f5f4;
    --item-color-hover: #e7e5e4;
    --text-color: #e2e8f0;
    --border-color: #d6d3d1;
    --clouds-color-primary: #155e75;
    --clouds-color-secondary: #0891b2;
    --snow-color-primary: #22d3ee;
    --snow-color-secondary: #a5f3fc;
    --clear-color-primary: #0ea5e9;
    --clear-color-secondary: #7dd3fc;
    --error-color-primary: #b91c1c;
    --error-color-secondary: #ef4444;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', system-ui;
    min-height: 100vh;
    /*min-width: 100vw;*/
    font-size: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    font-weight: 900;
    letter-spacing: 0.1rem;
    padding: 1rem 0 1rem 0;
}

header h1 {
    margin-left: 2rem;
    font-size: 2rem;
    text-align: start;
}

header p {
    margin-right: 2rem;
    font-size: 1.2rem;
    text-align: end;
}

main {
    flex: 1;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 15rem 0.5rem 15rem;
    padding: 1rem 0 1rem 0;
    border-radius: 16px;
}

#content,
::placeholder {
    color: var(--text-color);
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}

#search-input {
    font-family: 'Hind Siliguri', sans-serif, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', system-ui;
    font-size: 1rem;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid var(--border-color);
    outline: none;
    color: var(--text-color);
}

#btn-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
    color: var(--text-color);
}

.material-symbols-outlined:hover {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 2rem;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

#current-weather-container {
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.current-weather-container-left,
.current-weather-container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-weight: 700;
}

.current-weather-container-left {
    align-items: center;
    justify-content: center;
}

.current-weather-container-left h1,
#error-msg {
    font-size: 3rem;
}

.temperature {
    font-size: 2.5rem;
}

.current-weather-container-right {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1.5rem;
}

#five-days-weather-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 56rem;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: thin;
    padding: 0.5rem;
}

.five-days-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.five-days-content p:last-child {
    height: 2rem;
}

.five-days-img-container {
    height: 5rem;
    width: 5rem;
}
.five-days-img-container img {
    height: 100%;
    width: auto;
}

.clouds {
    background: linear-gradient(
        to bottom right,
        var(--clouds-color-primary),
        var(--clouds-color-secondary)
    );
}

.snow {
    background: linear-gradient(
        to bottom right,
        var(--snow-color-primary),
        var(--snow-color-secondary)
    );
}

.clear {
    background: linear-gradient(
        to bottom right,
        var(--clear-color-primary),
        var(--clear-color-secondary)
    );
}

.error {
    background: linear-gradient(
        to bottom right,
        var(--error-color-primary),
        var(--error-color-secondary)
    );
}

footer {
    /*position: absolute;
    bottom: 0;*/
    /*font-family: 'Roboto', sans-serif;*/
    width: 100%;
    height: 2.5rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reflink {
    width: 25px;
    text-align: center;
}

.github-img {
    width: 20px;
    height: 20px;
}

.github-img:hover {
    width: 25px;
    height: 25px;
}

/* MEDIA QUERIES */
@media (max-width: 1450px) {
    #content {
        margin: 1.5rem 5rem 0.5rem 5rem;
        padding: 0.5rem 0 0.5rem 0;
    }
}

@media (max-width: 1200px) {
    #content {
        margin: 1.5rem 5rem 0.5rem 5rem;
        padding: 0.5rem 0 0.5rem 0;
    }

    #current-weather-container {
        gap: 0;
    }

    #five-days-weather-container {
        width: 35rem;
    }
}

@media (max-width: 750px) {
    header h1 {
        margin-left: 1rem;
        font-size: 1.6rem;
        overflow-wrap: break-word;
    }

    header p {
        margin-right: 1rem;
        font-size: 1.1rem;
    }

    #content {
        margin: 1rem 1rem 0.5rem 1rem;
        padding: 0.5rem 0 0.5rem 0;
    }

    #current-weather-container {
        gap: 0;
    }

    .current-weather-container-left h1,
    #error-msg {
        font-size: 1.7rem;
    }

    .current-weather-container-left img {
        height: 10rem;
        width: auto;
    }

    .current-weather-container-right {
        padding: 0.5rem;
        font-size: 1rem;
    }

    #five-days-weather-container {
        gap: 1.5rem;
        width: 19rem;
    }
}
